{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {border: 2px solid black; background: #212529 ; margin: auto; max-width: 40rem; width: 80%; font: 18px/1.5 sans-serif; }
    .example-wrapper-code {padding: 2rem 2rem; }
</style>

<div class="mt-5 text-white example-wrapper-code example-wrapper rounded-pill row justify-content-center">
    <div >
    <h1 class="mx-6">Hello {{ controller_name }}! ✅</h1>
    </div>
    <div >
    <p>This friendly message is coming from:</p>
    </div>
    <div >
        <p>One of your brilliant and modest <a class="text-warning" href={{path('app_about')}}> student </a>Discover her<a class="text-warning" href={{path('article_index')}}> stunning articles here</a></p>
    </div>
</div>
{% endblock %}
